extends layout
block content
  div(class='row')
    div(class='small-10 small-centered columns')
      fieldset
        legend Registration Failed
        p.
          Something went wrong with your registration. Try again later or check the values you used.
