extends layout
block content
  div(class='row')
    div(class='small-10 small-centered columns')
      fieldset
        legend Registration Successful
        p.
          Congratulations! You have successfully registered, please check
          your email for a verification link to determine the email you used is yours.
